
* {
    position: relative;
    margin: 0;
    font-family: 'Amazon Ember', sans-serif;
    border: border-box;

}

.flexstyle {
    display:flex;
}

/** Box 1**/

.header-nav {
    
    background-color: #0F1111;
    
}

/** Box 1.1**/

.header-nav.n1 {
    display: flex;
    height: 60px;
    align-items: center;
}



.header-border {
    border: 1px solid transparent;
}

.header-border:hover {
    border: 1px solid white;
}

text-cursor:hover {
    cursor: text;
}

pointer-cursor:hover {
    cursor: pointer;
}

/** Box 1.1.1**/

.header-logo {
    display: flex;
}

.header-logo a {
    margin-left: 11px;
}

#logo {
    height: 49px;
    width: 99px;
    padding-left: 6px;
    padding-right: 8px;
    margin: 1px;
}

/** Box 1.1.2**/

.header-address {
    display: flex;
    align-items: center;
    
    height: 100%;
}

.deliver-add {
    display: flex;
    padding: 9px;
    text-decoration: none;
}

.address-icon {
    margin-left: 3px;
}
.add1 {
    font-size: 0.75rem;
    color: #CCCCCC;
}

.add2 {
    font-size: 1rem;
    color: white;
}

/** Box 1.1.3**/

.header-search {
    display: flex;
    align-items: center;
    padding: 10px 4px 10px 3px;
    margin: 0px 10px;
    flex-grow: 1;
    min-width: 443px;
}

.nav-form {
    display: flex;
    align-items: center;
    flex-grow: 1;
    
}



.select-dep {
    display: flex;
    background-color: #e6e6e6;
    height: 40px;
    width: 52px;
    padding: 0px 5px 0px 5px;
    align-items: center;
    border-radius: 4px 0px 0px 4px;
    font-size: 0.85rem;
    justify-content: space-between;
    box-sizing: border-box;
}


#search-option {
    position: absolute;
    display: none;
}

#search-option:focus {
    display: block;
}

.search-input{
    display: flex;
    flex-grow: 1;
    background-color: white;
    height: 40px;
    align-items: center;
    
}

input {
    border: currentColor;
    flex-grow: 1;
    font-size: 1rem;
}

.search-icon {
    display: flex;
    height: 40px;
    width: 45px;
    background-color: #faac52;
    align-items: center;
    justify-content: center;
    border-radius: 0px 4px 4px 0px;
}

/** Box 1.1.4**/

.header-tools {
    display: flex;
    width: 383px;
    
    font-weight: 700;
    justify-content: space-between;
}

.header-tools a {
    text-decoration: none;
    color: white;
}

a p.p1 {
    font-size: 0.75rem;
}

a p span {
    font-size: 0.85rem;
}

.lang {
    display: flex;
    align-items:center;
    font-size: 0.8rem;
}

.lang p {
    padding-left: 2px;
}

.lang img {
    width:25px;
    border: none;
    vertical-align: bottom;
}

.cart {
    display: flex;
    align-items: last baseline;
    padding-right: 10px;
}


/** Box 1.2**/

.header-nav.n2 {
    display: flex;
    height: 39px;
    align-items: center;
    background-color: #232F3E;
    padding-left: 10px;
}

.n2-items {
    box-sizing: border-box;
    display: flex;
    height: 39px;
    align-items: center;
    padding: 8px 9px;
    font-size: 0.9rem;
    color: white;
    text-decoration: none;
}

/** Box 2**/ 
.content {
    position:relative;
}



.hero-section {
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 100%;
    justify-content: center;
}

.hero-carousel {
    display: flex;
    justify-content: space-between;
}

.hero-carousel a {
    flex-grow: 1;
}

.hero-carousel button {
    height: 250px;
    width: 80px;
    background: transparent;
    border: transparent; 
}

.hero-carousel button svg {
    height: 10%;
}

.hero-carousel button:hover {
    border: 1px solid black;
    cursor: pointer;
}

.main-content {
    position: absolute;
    width: 100%;
    top: 250px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    z-index: 1;
    padding: 0px 20px;
    box-sizing: border-box;
}

.hero-msg-container {
    background-color: white;
    height: 40px;
    width: 100%;
}

.hero-msg {
    white-space: nowrap;
    overflow: hidden;
    padding: 10px 14px;
    text-align: center;
    font-size: 0.85rem;
}

.hero-msg a{
    color: #007185;
}



.shop-section1 {
    padding: 20px 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.box {
    background-color: white;
    height: 400px;
    padding: 20px 0px 15px 0px;
}

.image-grid {
    display: grid;
    height: 304px;
    grid-template-columns: 0.5fr 0.5fr;
    padding: 20px 0px 0px 20px;
    column-gap: 5px;
    row-gap: 5px;
}

.image-sign-in {
    width: 100%;
    padding: 15px 10px 0px 10px;
    box-sizing: border-box;
    overflow: clip;
}
.sign-in-button a{
    display: flex;
    padding: 10px;
    justify-content: center;
    text-decoration: none;
}

.sign-in-button button{
    width: 100%;
    padding: 10px;
    background-color: rgb(255, 200, 0);
    justify-content: center;
    border-radius: 4px;
    border: transparent;
}

.sign-in-button {
    background-color: white;
    padding: 20px;
    font-size: 1rem;
}

.image-sign-cont {
    width: 100%;
    box-sizing: border-box;
}

.image-sign-cont img{
    width: 100%;
    box-sizing: border-box;
}

.image-box {
    width: 100%;
}

.image-box-elem img {
    max-width: 150px;
}
.image-box img{
    width: 100%;
    height: 304px;
    overflow: clip;
    box-sizing: content-box;
    padding-bottom: 20px;
}

.box a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: rgb(5, 146, 217);
    font-size: 0.8rem;
    padding: 20px 20px 0px 20px;
    box-sizing: border-box;
}
.image-con {
    width: 100%;
    box-sizing: border-box;
}


.box a:hover {
    text-decoration: underline;
    color: rgb(252, 59, 59);
}

.box h2 {
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 20px;
    
}

.image-box p {
    font-size: 0.8rem;
    padding-left: 20px;
}

.image-box-elem p {
    font-size: 0.8rem;
}


.content-margin {
    position: absolute;
    bottom: 0px;
    margin: 22px;
}

footer {
    position:absolute;
    top: 1320px;
    width: 100%;
    padding: 20px 0px;
    z-index: 1;
}
.foot1{
    padding: 0px 20px;
    border: 1px solid gray;
    border-radius: 4px;
}

.foot1-1 {
    display: flex;
    width: 100%;
    align-items: center;
}

.foot1-1 .text-1 {
    flex: 2;
    justify-content: flex-start;
}

.foot1-1 .text-1 h2 {
    font-size: 1.1rem;
}

.foot1-1 .text-2 {
    font-size: 0.90rem;
}

.foot1-2 {
    padding: 0px 15px;
}

.shop-history {
    display: flex;
    align-items: center;
    padding: 5px 0px;
}
.history-button {
    height: 362px;
    display: flex;
    align-items: center;
}
.history-button button {
    height: 2.5em;
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
}

.history-button button:hover {
    background-color: #CCCCCC;
    box-shadow: #232F3E;
}

.history-option {
    height: 362px;
    display: flex;
    align-items: center;
    flex-grow: 1;

}

.hist-list {
    display: block;
}

hist-img {
    height: 160px;
    width: 100%;
}

.hist-text {
    font-size: 0.9rem;
    text-decoration: none;
    color: rgb(5, 131, 209);
    text-overflow: ellipsis;
}

.hist-text:hover {
    color: rgb(250, 57, 43);
}